<div class="modal" tabindex="-1" role="dialog" [ngClass]="{loginIsHiddenClick:isHiddenLogin}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Вход</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="viewModalLoginIsHidden()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" [(ngModel)] ="login" placeholder="Номер паспорта" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="password" placeholder="Пароль" class="form-control"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="savePatientLogin()">Войти</button>
        <button type="button" class="btn btn-secondary" (click)="viewModalLoginIsHidden()">Закрыть</button>
      </div>
    </div>
  </div>
</div>
