<h3>Расписание</h3>
<div class="table-head">
  <p>Участок</p>
  <p>Доктор</p>
  <p>Специальность</p>
  <p>Часы приема</p>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 15%"></th>
      <th scope="col"></th>
      <th scope="col" style="width: 30%;"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let d of doctors[0]">
      <td>{{d.district}}</td>
      <td>{{d.fio}}</td>
      <td>{{d.position}}</td>
      <td>{{d.time}}</td>
    </tr>
  </tbody>
</table>
