.submenu-h3 {
  text-align: center;
  margin-bottom: 5px;
}
.submenu-tel {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.bd-example {
  width: 50%;
  margin: auto;
}
.btn {
  margin: auto;
  display: flex;
}
