<h3 class="submenu-h3">Справка</h3>
<p class="submenu-tel">Тел. 1000</p>
<div class="bd-example">
  <form action="/" method="post">
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" name="email" id="inputEmail" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="inputName">Имя</label>
      <input type="text" name="name" id="inputName" class="form-control" />
    </div>
    <div class="form-group">
      <label for="inputText">Текс сообщения</label>
      <textarea class="form-control" name="text" id="inputText"></textarea>
    </div>
    <div class="form-group">
    <input type="submit"  class="btn btn-submit"/>
    </div>
  </form>
</div>
