<div class="home">
  <div class="one col-12">
    <div class="col-5">
      <h1>Регистратура</h1>
      <h2>Городской поликлиники</h2>
    </div>
    <div class="col-6 home-parent-text">
      <img src="#" alt="Здесь место для картиночки" />
    </div>
  </div>
  <div style="margin-left: 6%;margin-top:0">
    <div class="two">
      <input type="date" name="date" class="form-control" />
      <a class="btn">Заказать талон</a>
    </div>
  </div>
  <div class="submenu">
    <a class="btn" (click)="clickHidden('help')">Справка</a>
    <a (click)="clickHidden('site')" class="btn">Участки</a>
    <a (click)="clickHidden('timetable')" class="btn">Расписание</a>
    <a (click)="clickHidden('about')" class="btn">О нас</a>
  </div>
  <div>
    <submenu-help [ngClass]="{submenuIsHiddenHelp:helpIsHidden}"></submenu-help>
    <submenu-site [ngClass]="{submenuIsHiddenHelp:siteIsHidden}"></submenu-site>
    <submenu-timetable [ngClass]="{submenuIsHiddenHelp:timetableIsHidden}"></submenu-timetable>
    <submenu-about [ngClass]="{submenuIsHiddenHelp:aboutIsHidden}"></submenu-about>
  </div>
</div>
<div class="footer">
  <p>Тел. 1000</p>
  <p>г. Гродно, ул. Максима Горького 86</p>
  <p>policlinic.by</p>
</div>
