.home {
  background: #ACE2D9;
  padding: 50px 5px 50px 10px;
  margin-top: -7%;
  display: flex;
  flex-direction: column;
}
.home-parent-text{
    position:relative;
}
.home-parent-text img {
  width: 50%;
  margin: auto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 35%;
}
.one {
  display: flex;
}
.home div {
  margin-top: 5%;
}
  .home div:first-child {
    margin-left: 3%;
    margin-bottom: 5%;
  }
.home .two {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
.two input {
  width: 20%;
  margin-bottom: 1em;
}
.two a {
  width: 15%;
  background: #E2CA64;
  border-radius: 15px 15px 15px 15px;
}
.home .submenu {
  margin: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.home .submenu a{
    font-size:24px;
    color:#000;
}
  .home .submenu a:hover{
      color:#fff;
  }
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #C5EDE9;
  border-radius: 100px 100px 0px 0px;
  margin-top: -60px;
  font-size: 17px;
  padding-top: 2em;
}
.submenuIsHiddenHelp {
  display: none;
}
