<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-main-expand">
  <a class="navbar-brand nav-main-brand" style="" href="#">Logo</a>
  <div class="navbar-collapse" id="navbarSupportedContent">
    <div class="col-md-offset-9 ">
      <a class="btn btn-outline-success my-2 my-sm-0 a-parent-menu" (click) ="viewModalLogin()">Вход</a>
      <a class="btn btn-outline-success my-2 my-sm-0 a-parent-menu" (click) ="viewModalReg()">Регистрация</a>
    </div>
  </div>
</nav>
<modal-reg></modal-reg>
<modal-login></modal-login>
