.navbar-main-expand {
  background: #669999 !important;
  border-radius: 0px 0px 100px 100px;
  color: #fff;
}
  .navbar-main-expand a{
      color:#fff;
  }
  .nav-main-brand {
    margin-left: 3%;
  }
.a-parent-menu {
  transition: none !important;
}
.a-parent-menu:hover {
  background-color: #E2CA64 !important;
  color: #000 !important;
  border-radius: 15px 15px 15px 15px;
}

