<h3>О нас</h3>
<p>Государственное учреждение здравоохранения "Городская поликлиника г. Гродно" является лечебно-профилактическим учреждением Ленинского района г.Гродно.</p>
<p><b>Историческая справка</b>: В 1944г. после освобождения города от немецко-фашистских захватчиков была создана и начала свою работу «Поликлиника №1 г. Гродно». В 1948 году городская поликлиника была объединена со стационаром Гродненской городской больницы, в результате чего была образована 1-ая Гродненская городская объединенная больница. В 1961 году ей было присвоено имя уроженца г.Гродно, теоретика и организатора здравоохранения З.П.Соловьева.</p>
<p>03.08.1970г. 1-я поликлиника переехала в новое построенное здание по улице Лермонтова 13 в котором располагается до настоящего времени.</p>
<p>В дальнейшем городская поликлиника № 1 являлась структурным подразделением УЗ "ТМО № 1", а с октября 2005 года - филиалом УЗ "ГЦГП". С 01.04.2013г. решением Гродненского городского исполнительного комитета путем реорганизации УЗ «ГЦГП» образовано новое юридическое лицо - ГУЗ «Городская поликлиника г. Гродно»"</p>
<div><b>Руководителями городской поликлиники являлись</b>:
     <ul>
       <li>Сафина Нина Надиевна</li>
       <li>Котов Сергей Михайлович</li>
       <li>Буштевич Николай Александрович</li>
     </ul>
</div>
<h5>День сегодняшний</h5>
<p>В настоящее время руководит государственным учреждением здравоохранения "Городская поликлиника г. Гродно" главный врач Совца Сергей Владимирович, врач-организатор здравоохранения 1-й квалификационной категории.</p>
<div style="margin-bottom: 20px;">
  <b>ГУЗ "Городская поликлиника г. Гродно" состоит из следующих структурных подразделений:</b>
  <ul>
    <li>городская поликлиника расположенная в здании по ул. Лермонтова 13 (головное) и Островского 17 – на 444 посещений в смену;</li>
    <li>женская консультация по ул. Островского 17 – на 91 посещение смену;</li>
    <li>Сопоцкинская гор.пос.больница: стационар на 20 коек, поликлиника на 47 посещений в смену, 2 ФАПа (Ратичский, Гиновичский);</li>
    <li>Лойковская ВА на 18 посещений в смену;</li>
    <li>Подлабенская ВА на 21 посещения в смену.</li>
  </ul>
  <p>Поликлиника обслуживает 40010 человек, в том числе 39004 взрослых, 1006 детей до 18 лет (Гродненский район), 22160 женщин:</p>
  <ul>
    <li>Сопоцкинская ГПБ 3470чел.: 2950 взрослых, 520 детей;</li>
    <li>Лойковская ВА 1050 чел.: 900 взрослых, 150 детей;</li>
    <li>Подлабенская АВОП 1756 чел.: 1420 взрослых, 336 детей.</li>
  </ul>
</div>
