h3 {
  text-align: center;
  margin-bottom: 25px;
}
table {
  width: 50%;
  margin: auto;
  margin-bottom: 5%;
  border: 1px solid;
}
th {
  border: 1px solid !important;
}
td {
  border: 1px solid;
}
.table-head {
  display: flex;
  background: #E2CA64;
  width: 50%;
  justify-content: space-between;
  margin: auto;
  border-radius: 15px 15px 15px 15px;
  padding: 5px 10px 0px 10px;
  margin-bottom: -17px;
  z-index: 9999999;
  position: relative;
}
