<h3>Участки</h3>
<div class="table-head">
  <p>Участок</p>
  <p>Улица</p>
  <p>Участковый доктор</p>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col" style="width: 30%;"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let d of doctorsDistrict[0]">
    <td>{{d.district}}</td>
    <td>{{d.address}}</td>
    <td>{{d.fio}}</td>
  </tr>
  </tbody>
</table>
