<div class="modal" tabindex="-1" role="dialog" [ngClass]="{regIsHiddenClick:isHiddenReg}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Регистрация</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="viewModalRegIsHidden()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="color:red;">{{error}}</p>
          <div class="form-group">
              <input type="text"  [(ngModel)] ="passport" placeholder="Номер паспорта" class="form-control" />
          </div>
          <div class="form-group">
              <input type="text" [(ngModel)] ="fio" placeholder="ФИО" class="form-control" />
          </div>
          <div class="form-group">
              <input type="tel" [(ngModel)] ="tel" placeholder="Телефон" class="form-control" />
          </div>
          <div class="form-group">
              <input type="email" [(ngModel)] ="email" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group">
              <input type="text"  [(ngModel)] ="address" class="form-control" placeholder="Адрес" />
          </div>
          <div class="form-group">
              <input type="password" [(ngModel)] ="password" class="form-control" placeholder="Пароль" />
          </div>

          <div class="form-group">
              <input type="password" [(ngModel)] ="confirmPassword" class="form-control" placeholder="Повторить пароль" />
          </div>      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="savePatientReg()">Сохранить</button>
        <button type="button" class="btn btn-secondary" (click)="viewModalRegIsHidden()">Закрыть</button>
      </div>
    </div>
  </div>
</div>
